<!doctype html>
<html><!-- InstanceBegin template="/Templates/dwt.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>智能化学习平台</title>
<link rel="stylesheet" href="css/course.css"/>
<link rel="stylesheet" href="css/member.css"/>
<script src="js/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" href="css/tab.css" media="screen">
<script src="js/jquery.tabs.js"></script>
<script src="js/mine.js"></script>
<script type="text/javascript">
$(function(){

	
	$('.demo2').Tabs({
		event:'click'
	});
	
	
	
});	
</script>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

</head>

<body>

<div class="head" id="fixed">
	<div class="nav">
    	<span class="navimg"><a href="index.html"><img border="0" src="images/logo.png"></a></span>
        <ul class="nag">
            <li><a href="student-0.html" class="link1">主页</a></li>
            
            
        </ul>
        <span class="massage">
            <!--<span class="select">
        	<a href="#" class="sort">课程</a>
        	<input type="text" value="关键字"/>
            <a href="#" class="sellink"></a>
            <span class="sortext">
            	<p>课程</p>
                <p>题库</p>
                <p>讲师</p>
            </span>
        </span>--> 

            <!--登录后-->
            <div class="logined">
                <a onMouseOver="logmine()" style="width:70px" class="link2 he ico" target="_blank">sherley</a>
                <span id="lne" style="display:none" onMouseOut="logclose()" onMouseOver="logmine()">
                    <span style="background:#fff;">
                        <a style="width:70px; display:block;" class="link2 he ico" target="_blank">sherley</a>
                    </span>
                    <div class="clearh"></div>
                    <ul class="logmine" >
                        <li><a class="link1" href="student-1.html">知识路径</a></li>
                        <li><a class="link1" href="student-2.html">习题查找</a></li>
                        <li><a class="link1" href="student-4.html">好题收藏</a></li>
						<li><a class="link1" href="student-5.html">学习报告</a></li>
						<li><a class="link1" href="student-6.html">我的作业</a></li>
                        <li><a class="link1" href="index.html">退出</a></li>
                    </ul>
                </span>
            </div>
            
        </span>
    </div>
</div>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="clearh"></div>
<div class="membertab">
<div class="memblist">
	<div class="membhead">
    <div style="text-align:center;"><img src="images/0-0.JPG" width="80" ></div>
    <div style="width:220px;text-align:center;">
    <p class="membUpdate mine">sherley</p> 
    <p class="membUpdate mine"><a href="student-0.html">我的主页</a></p>
    <div class="clearh"></div>
    </div>
    </div>
    <div class="memb">
   
    <ul>
    	<li><a class="mb1" href="student-1.html">知识路径</a></li>
		<li><a class="mb3" href="student-2.html">习题查找</a></li>
		<li class="currnav"><a class="mb4" href="student-3.html">知识训练</a></li>
		<li><a class="mb12" href="student-4.html">好题收藏</a></li>
        <li><a class="mb7" href="student-5.html">学习报告</a></li>
		<li><a class="mb2" href="student-6.html">我的作业</a></li>
		<li><a class="mb2" href="student-7.html">我的班级</a></li> 
 </ul>
   
    </div>   
  </div>


	<div class="membcont">
<h3 class="mem-h3">知识训练</h3>
<div class="box demo2" style="width:820px;">

<div class="box demo2" style="width:820px;margin-left:40px;">	
    集合与常用逻辑用语
	<a href="student-3.html"><span class="star_zy" style="font-size:12px;">返回</span></a>
	</br></br>
	<form action="" method="get">
		选择测验的知识点：
		<span style="font-size:14px;color:red;"><input type="checkbox" name="vehicle" value="" checked="checked" /> 知识点名称1</span>&nbsp;&nbsp;
		<span style="font-size:14px;color:red;"><input type="checkbox" name="vehicle" value="" /> 知识点名称2</span>&nbsp;&nbsp;
		<span style="font-size:14px;color:red;"><input type="checkbox" name="vehicle" value="" /> 知识点名称3</span>&nbsp;&nbsp;
		<a><span class="star_zy" style="font-size:12px;">确定</span></a>
		</form>
	</br>
</div>		
<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

		

</div>
</div>


<div class="clearh"></div>
</div>

<!-- InstanceEndEditable -->


<div class="clearh"></div>
<div class="foot">
<div class="fcontainer">

      <div class="fmenu">
	     <p><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">帮助中心</a> | <a href="#">意见反馈</a> | <a href="#">加入我们</a></p>
      </div>
      <div class="copyright">      
        <div><a href="/">智能化学习平台</a>所有&nbsp;粤ICP备XXXX号</div>
      </div>
    </div>
</div>
</div>
<!--右侧浮动-->
<div class="rmbar">
	<span class="barico qq" style="position:relative">
	<div  class="showqq">
	   <p>官方客服QQ:<br>2860603805</p>
	</div>
	</span>	
	<span class="barico top" id="top">置顶</span>	
</div>
</body>

<!-- InstanceEnd --></html>
