{% extends 'UserPage/student_master_page.html' %}
{% block head %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
	<div class="membcont">
        <h3 class="mem-h3">知识训练</h3>
        <div class="box demo2" style="width:820px;">
			<div>
                <table border="1" cellspacing="0">
                    <tr>{% for num in range %}
                        <td style="width:50px;text-align: center;"><u id="td{{ forloop.counter|add:-1 }}" onclick="showQuestion({{ forloop.counter|add:-1 }});" style="color: blue;">{{ num|add:1 }}</u></td>

                    {% endfor %}</tr>
                    <tr>{% for num in range %}<td style="width:50px;height:40px;text-align: center;"><label id="label{{ num }}"></label></td>{% endfor %}</tr>
                    <script type="text/javascript">
                        function showQuestion(i)
                        {
                            {% for num in range %}
                                $('#label{{ num }}').html($('input[name="answer{{ num }}"]:checked').val());
                                if(i == {{ num }})
                                {
                                    $('#div{{ num }}').removeAttr('hidden');
                                }
                                else
                                {
                                    $('#div{{ num }}').attr('hidden','hidden');
                                }
                            {% endfor %}
                        }
                    </script>
                </table>
                <form method="post" action="{% url 'student_homework' homework.id %}">
                    {% csrf_token %}
                    <input hidden="hidden" name="count" value="{{ homework.questions.count }}">
                    {% for question in homework.questions.all %}
                        <div id="div{{ forloop.counter|add:-1 }}" {% if forloop.counter != 1 %}hidden="hidden"{% endif %}>
                            <table>
                                <input hidden="hidden" name="question{{ forloop.counter|add:-1 }}" value="{{ question.id }}">
                                <tr><td>{{ forloop.counter }}、{{ question.question|safe }}</td></tr>
                                {% if question.type.name == '选择题' %}
                                    {% for option in question.get_options %}
                                        <tr><td><label><input type="radio" name="answer{{ forloop.parentloop.counter|add:-1 }}" value="{{ option|safe|slice:'1' }}">{{ option|safe }}</input></label></td></tr>
                                    {% endfor %}
                                {% endif %}
                                <tr><td>
                                    {% if forloop.counter == homework.questions.count %}
                                        <input type="submit" value="提交">
                                    {% else %}
                                        <input type="button" value="下一题" id="button{{ forloop.counter|add:-1 }}">
                                        <script type="text/javascript">$('#button{{ forloop.counter|add:-1 }}').click(function () {
                                            $('#div{{ forloop.counter|add:-1 }}').attr('hidden','hidden');
                                            $('#div{{ forloop.counter }}').removeAttr('hidden');
                                            $('#label{{ forloop.counter|add:-1 }}').html($('input[name="answer{{ forloop.counter|add:-1 }}"]:checked').val());
                                        })</script>
                                    {% endif %}
                                </td></tr>
                            </table>
                        </div>
                    {% endfor %}
                </form>
            </div>
		</div>
    </div>
{% endblock %}
