{% extends 'masterPage.html' %}
{% block title %}注册用户 - 在线教育网站{% endblock %}
{% block head %}
    {% load static %}
{% endblock %}
{% block content %}
    <div>
        <h2>用户注册</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label><input type="radio" value="student" name="user_type" checked="checked">我是学生</label></td>
                    <td><label><input type="radio" value="teacher" name="user_type" {% if register_form.user_type.value == 'teacher' %}checked="checked"{% endif %}>我是教师</label></td>
                </tr>
                <tr>
                    <td>用户名：</td><td><input name="username" value="{{ register_form.username.value|default_if_none:'' }}" placeholder="请输入10位以内用户名"></td><td>{{ register_form.errors.username }}{{ errors.username }}</td>
                </tr>
                <tr>
                    <td>邮箱：</td><td><input name="email" value="{{ register_form.email.value|default_if_none:'' }}" placeholder="例如:sample@qq.com"></td><td>{{ register_form.errors.email }}{{ errors.email }}</td>
                </tr>
                <tr>
                    <td>密码：</td><td><input type="password" name="password" value="" placeholder="请输入6-12位密码"></td><td>{{ register_form.errors.password }}</td>
                </tr>
                <tr>
                    <td>重复密码：</td><td><input type="password" name="re_password" value="" placeholder="请再次输入密码"></td><td>{{ errors.re_password }}</td>
                </tr>
                <tr>
                    <td>验证码：</td><td>{{ register_form.captcha }}</td><td>{{ register_form.errors.captcha }}</td>
                </tr>
            </table>
            <input type="submit" value="注册">
            <input type="button" value="取消" onclick="location.href='{% url 'index' %}'">
        </form>
    </div>
{% endblock %}