<!doctype html>
<html><!-- InstanceBegin template="/Templates/dwt.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
    {% load staticfiles %}
<!-- InstanceBeginEditable name="doctitle" -->
<title>智能化学习平台</title>

<link rel="stylesheet" href="{% static 'css/course.css' %}"/>
<link rel="stylesheet" href="{% static 'css/register-login.css' %}"/>
<script src="{% static 'js/jquery-1.8.0.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/tab.css' %}" media="screen">
<script src="{% static 'js/jquery.tabs.js' %}"></script>
<script src="{% static 'js/mine.js' %}"></script>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

</head>

<body>

<div class="head" id="fixed">
	<div class="nav">
    	<span class="navimg"><a href="{% url 'index' %}"><img border="0" src="{% static 'images/logo.png' %}"></a></span>
      
        <span class="massage">
            <!--<span class="select">
        	<a href="#" class="sort">课程</a>
        	<input type="text" value="关键字"/>
            <a href="#" class="sellink"></a>
            <span class="sortext">
            	<p>课程</p>
                <p>题库</p>
                <p>讲师</p>
            </span>
        </span>--> 
        	<!--未登录-->
        	<span class="exambtn_lore">
                 <a class="tkbtn tklog" href="{% url 'login' %}">登录</a>
                 <a class="tkbtn tkreg" href="{% url 'register' %}">注册</a>
            </span>
            <!--登录后-->
            <!--<div class="logined">
                <a href="mycourse.html"  onMouseOver="logmine()" style="width:70px" class="link2 he ico" target="_blank">sherley</a>
                <span id="lne" style="display:none" onMouseOut="logclose()" onMouseOver="logmine()">
                    <span style="background:#fff;">
                        <a href="mycourse.html" style="width:70px; display:block;" class="link2 he ico" target="_blank">sherley</a>
                    </span>
                    <div class="clearh"></div>
                    <ul class="logmine" >
                        <li><a class="link1" href="#">我的课程</a></li>
                        <li><a class="link1" href="#">我的题库</a></li>
                        <li><a class="link1" href="#">我的问答</a></li>
                        <li><a class="link1" href="#">退出</a></li>
                    </ul>
                </span>
            </div>-->
            
        </span>
    </div>
</div>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="register" style="background:url(images/13.jpg) right center no-repeat #fff">
<h2>注册</h2>
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div>
        <p class="formrow"><label class="control-label" for="register_email">我是</label>
        <label><input type="radio" value="student" name="user_type" checked="checked">学生</label>
        <label><input type="radio" value="teacher" name="user_type" {% if register_form.user_type.value == 'teacher' %}checked="checked"{% endif %}>教师</label>
    </div>
    <div>
    <p class="formrow"><label class="control-label" for="register_email">邮箱地址</label>
    <input type="text" name="email" value="{{ register_form.email.value|default_if_none:'' }}" placeholder=" 请输入邮箱地址"></p>
    <span class="text-danger">{{ register_form.errors.email }}{{ errors.email }}</span>
    </div>
    <div>
    <p class="formrow"><label class="control-label" for="register_email">昵称</label>
    <input type="text" name="username" value="{{ register_form.username.value|default_if_none:'' }}" placeholder=" 中、英文均可，最长14个英文或7个汉字"></p>
    <span class="text-danger">{{ register_form.errors.username }}{{ errors.username }}</span>
    </div>
    <div>
    <p class="formrow"><label class="control-label" for="register_email">密码</label>
    <input type="password" name="password" value="" placeholder=" 5-20位英文、数字、符号，区分大小写"></p>
    <span class="text-danger">{{ register_form.errors.password }}</span>
    </div>
    <div>
    <p class="formrow"><label class="control-label" for="register_email">确认密码</label>
    <input type="password" name="re_password" value="" placeholder=" 再输入一次密码"></p>
    <span class="text-danger">{{ errors.re_password }}</span>
    </div>
    <div class="loginbtn reg">
    <button type="submit" class="uploadbtn ub1">注册</button>
    </div>

</form>
</div>
<!-- InstanceEndEditable -->


<div class="clearh"></div>
<div class="foot">
<div class="fcontainer">

      <div class="fmenu">
	     <p><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">帮助中心</a> | <a href="#">意见反馈</a> | <a href="#">加入我们</a></p>
      </div>
      <div class="copyright">      
        <div><a href="/">智能化学习平台</a>所有&nbsp;粤ICP备XXXX号</div>
      </div>
    </div>
</div>
</div>
<!--右侧浮动-->
<div class="rmbar">
	<span class="barico qq" style="position:relative">
	<div  class="showqq">
	   <p>官方客服QQ:<br>2860603805</p>
	</div>
	</span>
	
	<span class="barico top" id="top">置顶</span>	
</div>
</body>

<!-- InstanceEnd --></html>
